body{
	margin-top: 58px;
}
nav{
	font-family: sans-serif;
	background: rgba(133, 186, 2 ,0.9);
}
#perfil{
	text-align: justify;
	width: 20px;
	height: 20px;
}
.bt{
	color: black;
	font-family: sans-serif;
}