body{
  background-color: white;
}
.card-header{
  background: white;
}
.imag{
  text-align: center;
}
.edoicon{
  width: 200px;
  height: 100px;
}
.cecicon{
  width: 90px;
  height: 75px;
  margin-right: 60px;
  margin-top: 7px;
}
.minilogo{
  width: 250px;
  height: 75px;
  margin-left: 10px;
  margin-top: 7px;
}
.texto{
  font-family: Helvetica;
  color: #5A6523;
  background-color: #F8F8F8;
}
h1{
    font-size: 1.5rem;
}
h2{
    font-size: 1.4rem;
}
.borde{
  border-bottom-color:rgb(135, 158, 15);
  border-bottom-style:solid;
  border-bottom-width:3px;
  border-top-color:#ccc;
  border-top-style: solid;
  border-top-width: 3px;
  border-radius: 3px;
  height: 55px;
}
.borde2{
  border-bottom-style:solid;
  border-bottom-color:#ccc;
  border-bottom-width: 1px;
  border-radius: 3px;
  height: 45px;
}
.mid{
  text-align: center;
}
.texto{
  text-align: center;
  font-family: Helvetica;
  font-size: 24px;
}