.caja1{
  background-image: url(http://cecytem.edomex.gob.mx/sites/cecytem.edomex.gob.mx/files/images/Planteles/TEQUIXQUIAC%201.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: black; 
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color:rgb(135, 158, 155);
  border-bottom-color: rgb(135, 158, 155);
  border-width: 2px;
}
.caja2{
  background: rgba(217, 220, 223,0.2); 
  color: black;
  border-style: solid;
  border-color:rgb(0, 0, 0);
  border-width: 2px;
}
#titulo{
  color:#5a6523;
  background: rgba(217, 220, 223,0.4);
  font-size: sans-serif;
  font-size: 40px;
}
.botones{
  margin-top: 15px;
}
.letra{
  font-family: georgia;
  font-size: 18px;
}