body{
	margin-top: 58px;
}
.cuerpo{
	background-image: url(http://cecytem.edomex.gob.mx/sites/cecytem.edomex.gob.mx/files/images/Planteles/TEQUIXQUIAC%201.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.bt{
	color: black;
	font-family: sans-serif;
}
.botones{
	margin-top: 25px;
	margin-bottom: 25px;
}
.botones2{
	margin-top: 145px;
}
.botonesA{
	margin-top: 55px;
	margin-bottom: 55px;
}
.menuD{
	/*display: none;*/
}
.menuA{
	display: none;
}
.menuS{
	display: none;
}
.menuM{
	display: none;
}
#perfil{
	text-align: justify;
	width: 20px;
	height: 20px;
}
#texto{
	font-family: Helvetica;
	color: #5A6523;
	font-size: 10px;
}
nav{
	font-family: sans-serif;
	background: rgba(133, 186, 2 ,0.9);
}