.bt{
	color: black;
	font-family: sans-serif;
}
#perfil{
	text-align: justify;
	width: 20px;
	height: 20px;
}
.separador{
	background: rgb(148, 204, 223);
	height: 45px;
	border-style: solid;
}
.caja1{
	background:rgb(248, 248, 248);
}
nav{
	font-family: sans-serif;
	background: rgba(136, 132, 138,0.9);
}
body{
	margin-top: 58px;
}
h3{
	font-size: 1.0rem;
}
h5{
	font-size: 13px;
}
.subtitulo{
	background: rgb(212, 212, 212);
	height: 30px;
}
.encabezado{
	border-style: solid;
	border-color: black;
}
.medio{
	background: white;
}
.botones{
  margin-top: 75px;
  text-align: center;
}
.boton{
	background: rgba(136, 132, 138,0.9);
}